@tailwind base;
@tailwind components;
@tailwind utilities;

.silde-up {
  animation: slide-up-animation ease-in 0.2s;
  transition: transform;
}

@keyframes slide-up-animation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.color {
  color: #a97c25;
}
.group:hover img {
  color: #a97c25;
}

.svg-color {
  /* Apply initial color #2F4688 using filter */
  filter: invert(29%) sepia(36%) saturate(745%) hue-rotate(179deg)
    brightness(92%) contrast(88%);
}

/* Change the color to #87631e on card hover */
.group:hover .svg-color {
  filter: invert(40%) sepia(40%) saturate(717%) hue-rotate(1deg) brightness(91%)
    contrast(95%);
}
