@tailwind base;
@tailwind components;
@tailwind utilities;

.silde-up {
  animation: slide-up-animation ease-in 0.2s;
  transition: transform;
}

@keyframes slide-up-animation {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.color {
  color: #a97c25;
}
